<div class="card">
    <div class="card-header bg-default">
        <div><h2>Professores</h2></div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th><th>Data nascimento</th><th>Sexo</th>
                </tr>
            </thead>
            <% @professors.each do |professor| %>
                <tr>
                    <td>
                        <%= link_to professor.name, professor %>
                    </td>
                    <td><%= professor.birth %></td>
                    <td><%= professor.sex == 'M' ? 'Masculino' : 'Feminino' %></td>
                </tr>
            <% end %>
        </table>
    </div>
    <div class="card-footer">
        <%= link_to 'Adicionar', new_professor_path, class: "btn btn-primary" %>
    </div>
</div>